.searchInput {
    width: 100%;
    margin: 10px auto; /* Center the input */
    max-width: 500px; /* Max width for the input */
    padding: 0.5rem 1rem; /* Padding inside the input */
    border: 1px solid #ced4da; /* Light border */
    border-radius: 4px 0 0 4px; /* Rounded corners on the left */
    font-size: 1rem; /* Font size */
    outline: none; /* Remove default outline */
    transition: border-color 0.2s; /* Smooth border color transition */
}

.searchInput:focus {
    border-color: #80bdff; /* Border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus ring */
}

.search-button {
    padding: 0.75rem 1rem; /* Padding inside the button */
    border: 1px solid #ced4da; /* Light border */
    border-left: none; /* Remove left border */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    font-size: 1rem; /* Font size */
    border-radius: 0 4px 4px 0; /* Rounded corners on the right */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth background color transition */
}

.search-button:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.search-button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus ring */
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #f8f9fa;
}